achucarro/data
keras_experimentos/U-Net_DataScienceBowl/data-science-bowl-2018

keras_experimentos/U-Net_UltrasoundNerveSegmentation/ultrasound-nerve-segmentation
keras_experimentos/U-Net_UltrasoundNerveSegmentation/raw
keras_experimentos/CNN_cats_and_dogs/data
keras_experimentos/CNN_cats_and_dogs/images