FIBSEM_EPFL/data
FIBSEM_EPFL/vnc
FIBSEM_EPFL/data_d
FIBSEM_EPFL/lucchi_pp
FIBSEM_EPFL/kasthuri_pp
FIBSEM_EPFL/aug
FIBSEM_EPFL/check_crops
FIBSEM_EPFL/results
FIBSEM_EPFL/scripts/__pycache__
FIBSEM_EPFL/logs
FIBSEM_EPFL/charts
FIBSEM_EPFL/h5_files
FIBSEM_EPFL/jupyterNotebooks
FIBSEM_EPFL/cell_challenge_eval
FIBSEM_EPFL/scripts/cell_cha_eval/testing_dataset
FIBSEM_EPFL/scripts/jobs
FIBSEM_EPFL/scripts/xiao_2018/__pycache__
miccai2020
other_projects
