[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm>=6.2", "numpy>=1.24.3"]
build-backend = "setuptools.build_meta"

[project]
name = "biapy"
version = "3.3.8"
description = "BiaPy: Bioimage analysis pipelines in Python"
readme = "README.md"
authors = [{ name = "Daniel Franco-Barranco", email = "daniel.franco@dipc.org" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Environment :: GPU :: NVIDIA CUDA :: 11.8",
    "Programming Language :: Python :: 3.10",
]
keywords = ["feed", "reader", "tutorial"]
dependencies = [
    "imgaug>=0.4.0",
    "matplotlib>=3.7.1",
    "scikit-learn>=1.4.0",
    "pydot>=1.4.2",
    "yacs>=0.1.8",
    "tqdm>=4.66.1",
    "scikit-image>=0.22.0",
    "edt>=2.3.2",
    "fill-voids>=2.0.6",
    "opencv-python>=4.8.0.76",
    "pandas>=1.5.3",
    "torchinfo>=1.8.0",
    "tensorboardX>=2.6.2.2",
    "h5py>=3.9.0",
    "zarr>=2.16.1",
    "bioimageio.core==0.5.9",
    "imagecodecs>=2024.1.1",
]
requires-python = ">=3.10"

[project.scripts]
spam-cli = "biapy:BiaPy"

[project.urls]
Homepage = "https://github.com/BiaPyX/BiaPy"
