absl-py==0.9.0
alabaster==0.7.12
asn1crypto==1.3.0
astor==0.8.0
Babel==2.8.0
blinker==1.4
cachetools==3.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.3.0
conda==4.6.14
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==2.15.0
dataclasses==0.8
decorator==4.4.2
docutils==0.16
gast==0.2.2
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.8.0
idna==2.9
imageio==2.8.0
imagesize==1.2.0
imgaug==0.4.0
Jinja2==2.11.2
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
latexcodec==2.0.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.18.1
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==0+untagged.49.gdbede45.dirty
packaging==20.4
pbr==5.6.0
Pillow==7.0.0
pockets==0.9.1
protobuf==3.11.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybtex==0.24.0
pybtex-docutils==1.0.1
pycosat==0.6.3
pycparser==2.20
pydot==1.4.1
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel-yaml==0.15.80
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx @ file:///tmp/build/80754af9/sphinx_1597004326341/work
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.3.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-video 
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
texttable==1.6.2
toolz==0.10.0
tornado==6.0.4
tqdm==4.45.0
urllib3==1.25.8
Werkzeug==1.0.1
wrapt==1.12.1
yacs==0.1.6
