# Checks BiaPy code consistency

name: Code consistency

# Once a week (on Sunday)
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  run:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip" # caching pip dependencies
    - name: Installing Pytorch
      run: pip3 install torch==2.9.1 torchvision==0.24.1 --index-url https://download.pytorch.org/whl/cu126
    - name: Installing BiaPy
      run: pip install --editable .
    - name: Installing dependencies for the run_checks.py script
      run: pip install gdown
    - name: Checking BiaPy code consistency 
      run: |
          mkdir biapy_checks
          python -u biapy/utils/scripts/run_checks.py --out_folder biapy_checks --gpus "0,1"
